[2018-05-02 12:33] thea-m opened #1 "Geez title in ATs"
The AT guidelines state:

(http://betamasaheft.eu/Guidelines/?id=artThemes)

and the example given (AT1005Crucifixion) includes a Geez title. However, this title is no longer present in the record, and I found no other Geez titles in the AT records. Are the guidelines still up to date?

[2018-05-02 18:13] Gnisci commented on #1
Dear Thea,

Thanks for raising this point. Initially, I thought it would be beneficial to include (when possible) the Ge'ez title for the ATs. I later became preoccupied about consistency (not sure it is possible to give a specific  Ge'ez title for all the ATs), so I decided it was to put the matter on hold and first finish providing a complete list of ATs with abstract and bibliography and then (

[2018-05-03 11:34] PietroLiuzzo commented on #1
I would live the guidelines as they are and let people do the best they can if they follow the guidelines. we do not require those titles to have a complete and functioning record, but they can be added with time, so it can stay as the possibilistic formulation in the guidelines is also fine IMHO. can I close?

[2018-05-03 11:46] Gnisci commented on #1
I second Pietro's suggestion, it would be nice to have the titles in the future, though at present I would prioritize other tasks.

[2018-05-03 12:17] thea-m commented on #1
Good, then we'll leave the guidelines as they are, but I will still change the example to reflect the actual record.

[2018-05-03 12:17] #1 closed

[2018-05-03 14:12] thea-m opened #2 "foliation unit"
Here
http://betamasaheft.eu/Guidelines/?id=entities-id-structure
I found the pattern for the creation of IDs for foliation units, which makes me wonder how to use this? I could find no further information in the guidelines and records

[2018-05-04 07:41] thea-m commented on #2
I will use it now!

[2018-05-04 08:09] PietroLiuzzo commented on #2
let me know where, I would love to test that that part works as well.

[2018-05-04 08:29] thea-m commented on #2
DSEthiop11

[2018-05-17 13:02] thea-m opened #37 "narrative units (in additions)"
There are currently only three occurences of a narrative unit in our manuscript descriptions, all of them in additions and none encoded as described in the guidelines, where we have:

This example is no longer encoded with a narrative unit but with `<desc type="LandGrant">`, which is what I would have done as well.

If narrative units should continue to be used here, it might be useful to specify

[2019-01-10 09:49] thea-m opened #25 "guidelines clarification"
the places guidelines have in the paragraph on new records in http://betamasaheft.eu/Guidelines/?id=places `"use external links to Wikidata IDs as follows...(same for <placeName>↗ and <region>↗)"`. Do you mean here the `<placeName>` element immediately a `<place>`  in place records (I don't think I've ever seen a wikidata reference in this case), or `<placeName>` elements in place or other records

[2019-01-10 10:08] thea-m opened #23 "places guidelines example"
Could you give me an example for

(in http://betamasaheft.eu/Guidelines/?id=places under Administrative location)? I don't see what is meant exactly. Thank you!

[2019-01-10 10:19] thea-m opened #24 "repository/institution"
can I change "institution" everywhere in the guidelines to "repository"? We keep using both terms, which might be confusing to people reading the guidelines for the first time.

[2019-01-10 11:20] PietroLiuzzo commented on #23
this sentence can be safely removed.

[2019-01-10 13:10] thea-m commented on #23
I've deleted it

[2019-01-10 13:10] #23 closed

[2019-01-10 13:20] #24 closed

[2019-01-25 11:16] thea-m opened #27 "guidelines search"
I have noticed that several people, once they have found the search field in the guidelines page (not easy) and carried out a search do not become aware of the results, because they would have to scroll down to see them. I am afraid I have no constructive suggestion on how to improve this situation, but maybe you have an idea? it might already be better if the search field itself would always be l

[2019-01-25 11:50] PietroLiuzzo commented on #27
I have moved the search to the right. Please have a look and let me know if it is better.

[2019-01-25 11:52] thea-m commented on #27
looks good to me

[2019-01-25 11:52] #27 closed

[2019-02-26 11:56] PietroLiuzzo opened #30 "Add box to indicate where an element can be used"
TEI guidelines have` contained by`, should be something similar, allowing linking to the container element

[2019-02-26 11:57] PietroLiuzzo opened #31 "Encourage the use of other examples from the data"
In the main page template and where appropriate, more examples should be offered as links. for example linking from an element to a Xpath search or SPARQL query as already done in the schema

[2019-02-26 11:59] PietroLiuzzo opened #32 "give us a list to follow"
Although it is hardly something adequate to an encoded description we might provide a page with "where to start from" and some suggestions for encoding practice, e.g. read the guidelines about the bit of information, look here and look there for examples, once you are sure, go type that angle bracket.

[2019-02-26 12:00] PietroLiuzzo opened #33 "provide intro.js to guidelines"
users might want to take a tour of the guidelines website and be advised where to find information or search.

[2019-02-26 12:00] PietroLiuzzo opened #34 "cheatsheet"
provide a cheatsheet with the most commonly used elements, like the one in the Dillmann encoding guidance.

[2019-02-26 12:06] PietroLiuzzo commented on #34
for those who have never seen that, here is how it looks like
![schermata 2019-02-26 alle 13 05 02](https://user-images.githubusercontent.com/508012/53411613-3ca17480-39c7-11e9-89fb-758bd54afe4d.png)

@thea-m @DenisNosnitsin1970 @sologebre @eu-genia

[2019-02-27 05:23] PietroLiuzzo opened #35 "add page on syntaxe encoding"
@ElianaDalSasso rightly pointed out that we do not have yet a page about the encoding practice for stratigraphic features. I will provide a draft.

[2019-02-28 10:30] PietroLiuzzo commented on #37
on further digging, the <title> in <desc> was indeed the option chosen AND documented in the guidelines in additionsVaria. So in this commit https://github.com/BetaMasaheft/Manuscripts/commit/949773e41cc857f19762dd9e424270ac32d25e71 I have partially reverted some changes I introduced yesterday, not to introduce the use of `@corresp` but stick to simple title

[2019-02-28 10:36] eu-genia commented on #37
which is the solution to my question above, to "level out" the status of land grants transmitted as `msItems `with
`<title type="complete" ref="NAR0001gwelt">Land donation by <persName ref="PRS10626ZaraY"/>`
and as
additions with currently
`<desc type="LandGrant">Gwǝlt of <persName ref="PRS3874eskender">ʾƎskǝndǝr, Constantine</persName> (<date>A.D. 1478-1494</date>) </desc>`?
Should one also add a

[2019-02-28 11:13] PietroLiuzzo commented on #37
In the commits above as you have seen I have tried to simplify the options, removing the `@corresp` in data and guidelines to stick only to `title[@ref]` in both `msItem`s and `additions//item`s for both Textual and Narrative units.
- [ ] I will actually add also an example from BDLbruce93, as it shows well that Narrative units, being not sequence bound, can be used like here for several land dona

[2019-02-28 12:44] PietroLiuzzo commented on #37
from the latest commit, the narrative units also have a block on the rights, similarly to works, listing where they are used in manuscripts.
see https://betamasaheft.eu/narratives/NAR0001gwelt/main
here (expand the box to a dialogue by clicking the title) you can see a list of all instances of this unit used as main or additional content AND, separately, a list of where the keyword associated with

[2019-03-01 12:11] PietroLiuzzo commented on #30
This has been added for all element views. e.g. https://betamasaheft.eu/Guidelines/?id=item

[2019-03-01 12:11] #30 closed

[2019-03-01 12:23] PietroLiuzzo commented on #31
probably the best way to do this is to add links to appropriate searches directly in the guidelines, using ref, or in the schema, with a link.

[2019-03-01 12:48] PietroLiuzzo commented on #31
I can start to do this, after the open PR are closed.

[2019-03-01 12:55] PietroLiuzzo commented on #32
on a second thought there are already indexes for this, so, perhaps they will be found once #33 is done

[2019-03-01 12:55] #32 closed

[2019-03-01 12:56] PietroLiuzzo commented on #34
This can only involve inline elements, not structures.
Please @DenisNosnitsin1970 @DariaElagina @eu-genia @sologebre could you tell me
1. if such a list would be useful to you
2. which element you would need there

[2019-03-01 13:29] #33 closed

[2019-03-07 09:14] #37 closed

[2019-03-07 10:46] #35 closed

[2019-03-12 15:34] PietroLiuzzo opened #40 "bibl with @corresp"
With @thea-m we have found a quite interesting diversity of usage of the attribute corresp in bibl.

We have updated the guidelines to reflect what the intended use of this attribute is.

http://betamasaheft.eu/Guidelines/?id=bibliographic-references

there are a number of cases which you can find by XPath in oxygen or look up with this query

collection('/db/apps/BetMas/data')//t:bibl[@corresp]

[2019-04-04 11:26] thea-m opened #42 "Extras/Varia encoding and guidelines"
from https://github.com/BetaMasaheft/Documentation/issues/1128

by @PietroLiuzzo :

The guidelines on encoding extras could be edited. It might make sense to use more @type with `<desc>` here, and possibly to group extras describing scribal practices.

Does someone feel called to work on this? :)
@DenisNosnitsin1970 @eu-genia @DariaElagina @sologebre

[2019-04-09 10:34] thea-m opened #46 "<history>"
There might be some specification needed for our use of `<history>` and its contained elements, particularly  `<origin>`, `<provenance>` and `<acquisition>`, which we have used until now more or less intuitively, see also the recent discussions in https://github.com/BetaMasaheft/Documentation/issues/1112 and https://github.com/BetaMasaheft/Documentation/issues/1099. As a first step, I would sugges

[2019-04-09 10:50] DenisNosnitsin1970 commented on #46
What will be exact difference between "provenance" and "history"? (Apart from the absence of production and acquisition).

[2019-04-09 10:51] thea-m commented on #46
`<history>` is simply the element which contains all the others.

[2019-04-09 10:53] DenisNosnitsin1970 commented on #46
A narrative rearrangement of the information in all other sections?

[2019-04-09 10:58] thea-m commented on #46
`<history>` just contains all the other elements without any text:
[code]

[2019-04-09 11:46] DenisNosnitsin1970 commented on #46
OK.

[2019-04-09 12:06] sologebre commented on #46
That's what I understand too. I also agree not to change any of these
definitions for our use. But I would rather suggest if we add a few more
elements under <History>. According to TEI guidelines
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/MS.html#mshy, for
example, <Custodial History> is used to describe the custodial history of a
manuscript, recording any significant events noted durin

[2019-04-10 07:10] PietroLiuzzo commented on #46
yes we should stick to TEI, no question about that!
in the page for history a  proper example from our data should be provided and discussed, where the definitions can be reproduced (but an example does more than 300 definitions...)

[2019-04-10 07:10] PietroLiuzzo commented on #46
even better if both examples from the issues linked above are taken

[2019-04-10 10:01] thea-m opened #49 "relation between Art Theme and its content"
just to clarify: is saws:contains the right relation between an Art Theme record and the persons depicted in it? As in AT1003Arrest:
`<relation name="saws:contains"  active="AT1003Arrest" passive="PRS5684JesusCh">`
I had used ecrm:P129_is_about for the same purpose (having mentally reserved saws:contains for work records), so maybe others might also be confused and it would be good to put it in th

[2019-04-18 10:21] thea-m opened #48 "punctuation"
a paragraph on the encoding of punctuation would be useful

[2019-04-18 14:21] PietroLiuzzo commented on #48
And what should it contain?

[2019-04-18 14:32] thea-m commented on #48
either a confirmation of the encoding of punctuation present in Ethiospare manuscripts (which is nowhere present in the guidelines and unsurprisingly was not used in any other records)
[code]
or, if for some reason that is not considered ideal anymore, an alternative

[2019-04-18 14:42] PietroLiuzzo commented on #48
So it would be about encoding general features of the punctuation in the manuscript. I am not sure this was done extensively in ES either and if it was not, I would avoid extending to rule a limited usage praxis. @DenisNosnitsin1970 @eu-genia could you confirm please if this needs to be documented to be used also in other manuscripts or if it was only done for a limit number of cases and can be th

[2019-04-18 15:40] DenisNosnitsin1970 commented on #48
It was not done extensively in Ethio-Spare, as the operation was found very time consuming and leading
to a level of details that was not really desired. It can be rediscussed, though, but it is applicale only to the cases where the text is really accessible.
Here below is the range of punctuation signs that was set up (examples are needed to be added):

Punctuation:
Cp. UhlPal 89-94, 204f.; Dillm

[2019-04-18 15:43] thea-m commented on #48
Thank you, @DenisNosnitsin1970
Including a paragraph on the possibility of punctuation encoding obviously does not prescribe to encode all punctuation everywhere from now on.

[2019-04-18 15:52] DenisNosnitsin1970 commented on #48
Not really, but some features more important for dating/typologies can be picked up.

[2019-04-18 18:59] DenisNosnitsin1970 commented on #48
Some less important can be indeed facultative.

[2019-04-19 17:04] thea-m commented on #42
ideas for "extra" types:
- scribbles
- pen trials
- parchment repair (does this information rather belong to condition?)
- line take-ups/-downs
- tamallas-sign
- phenomena concerning corrections, omissions etc.
- substituted names
- indications for readings
- unfilled spaces left for rubrication
- cues for rubrication (maybe it would make sense to group information on rubrication in one place?)
-

[2019-04-23 10:11] thea-m commented on #48
@DenisNosnitsin1970 I agree, that why a little elaboration and systematisation would be useful.

[2019-04-25 15:48] PietroLiuzzo commented on #49
please add examples and clarification in the guidelines where you think it is appropriate, I also think it is a good idea.

[2019-04-26 07:26] thea-m commented on #49
thank you!

[2019-04-26 07:26] #49 closed

[2019-04-26 07:51] thea-m commented on #48
Do we agree that
- we want to keep the possibility of encoding information on punctuation
- this can be done with the current practice in the converted ES manuscripts of having in `<layout>`  a `<ab type="punctuation">` with a `<list>` containing single items for the punctuation signs used in the manuscript ?

Then I could start by adding this with an example and @DenisNosnitsin1970 's helpful lis

[2019-04-29 05:28] PietroLiuzzo commented on #48
Thanks @thea-m, yes, please use the ES as example. I would also copy over and enphasise your statement above about the fact that this is only to be done when one has a really strong feeling about it. perhaps also copy over the statement from @DenisNosnitsin1970 comment above (time consuming, etc.)

[2019-05-01 10:02] thea-m commented on #48
a new issue can be opened when someone wants to develop the encoding of punctuation more

[2019-05-01 10:02] #48 closed

[2019-05-07 08:27] DenisNosnitsin1970 commented on #46
OK, I'll check my records.

[2019-05-07 09:40] #46 closed

[2019-05-08 08:33] thea-m commented on #42
What do you think about this systematization? @DenisNosnitsin1970 ?
line take-ups/-downs, tamallas-sign, phenomena concerning corrections, omissions etc., reduced and compressed script, unfilled spaces left for rubrication, cues for rubrication could possibly be grouped into a larger scribal practices category.
If there are no important conceptual objections, I would suggest to prepare a guideline

[2019-06-28 08:50] #40 closed

[2019-06-28 09:37] PietroLiuzzo opened #56 "choice corr sic and @resp"
we need to add an example of the use of choice[corr[@resp]][sic]

this is supported by the stylesheets which render the clickable option, and it is clear that the correction has a author.

[code]

should be deprecated as it does not tell what is the `@resp` as far as I can say

there are additionally 90 cases so far which need to be fixed
https://betamasaheft.eu/xpath?xpath=%24config%3Acollection-

[2019-06-28 09:38] PietroLiuzzo commented on #56
@thea-m @AngelaMueller @eu-genia @sologebre @DariaElagina @DenisNosnitsin1970  any volunteers?

[2019-06-28 09:44] thea-m commented on #56
I will correct my records and add the example to the guidelines, but I think that it would be better if @AngelaMueller would correct the MM records, since she is working with them currently and familiar with the text genesis

[2019-06-28 09:47] PietroLiuzzo commented on #56
we still have to clarify those cases anyway https://github.com/BetaMasaheft/Documentation/issues/1174
thanks!

[2019-07-12 12:07] thea-m opened #58 "editing the schema"
could you please add a link to the editing the schema page https://betamasaheft.eu/Guidelines/?id=editingSchema in the "How to" menu?
And is the editing the schema page up to date now?
Thank you!

[2019-07-12 12:09] #58 closed

[2019-07-24 10:04] karljonaskarlsson opened #60 "Places of birth/death"
Hello! I could not find a way to encode the place where a person was born/died. I would have expected it to be an attribute within the element birth/death, just like the date of birth/death.

[2019-11-25 19:01] nafisa-valieva opened #68 "element <seg> is not allowed here"
Ciao Pietro,
I was trying to find a sequence in which the schema would allow me this, but I failed.
Could you please help me? All the examples I checked are not validated, I wonder whether the guidlines advise us what is proper for this
`<qxml:lang="gez">
                 <seg ana="#invocation" type="interpretation">`
Grazie!

[2019-11-25 21:03] PietroLiuzzo commented on #68
Please, try clarify your issues.

- on which branch are you and which file are you editing?
- what is that you are trying to do?
- what have you tried ?
- if ref to guidelines, which page (link, please)?
- if you get an error, which error do you get?
- can I see the error in the latest commit to that branch? if not how do I reproduce it?

[2019-11-25 21:08] PietroLiuzzo commented on #68
in your example, please add a space between element name and attribute name

not

<seg> is allowed by BM schema inside <q> and

[2019-11-26 10:58] nafisa-valieva commented on #68
Ciao Pietro, yes, my example was modified, your example is correct, but it does not help.
<seg> is allowed by BM schema inside <q>, but I was trying to find a position in which <seg> is allowed by BM schema inside <q> would be allowed and I can not find it. I tried to use various examples offered for Text Encoding in the guidelines, `<ab>` seems  not to allow it or there is something else which es

[2019-11-26 11:31] PietroLiuzzo commented on #68
but you did not answer my questions, so, I am still stuck with only some clues... a precise question would have allowed a precise and quick answer. These changes are not committed to Nafisa_GG, so I cannot see them. Please commit the changes you made to a branch, Nafisa_GG or any other you are working an, so that I can look at them and figure out what the problem is.

[2019-11-26 12:02] nafisa-valieva commented on #68
yes! now you have it in Nafisa_GG, "for Pietro"

[2019-11-26 12:10] nafisa-valieva commented on #68
on which branch are you and which file are you editing?
what is that you are trying to do?
what have you tried? - I have tried to find a possible position for `<q> with <seg>`
if ref to guidelines, which page (link, please)?
example 1 [https://betamasaheft.eu/Guidelines/?id=corpora,] incorporate in
 [(https://betamasaheft.eu/Guidelines/?id=text-encoding)]
or in [(https://betamasaheft.eu/Guidelines

[2019-11-26 12:46] PietroLiuzzo commented on #68
This was an error in the schema. the above commit should fix this. the validation reported the error on the type, which is now not anymore matched in the test for that rule. However, the reported error is not the one you were getting. please close atom, reopen and test the validation again. it could be that the schema is cached in its previous version and it takes a bit for Atom to realize  a new

[2019-11-26 12:52] nafisa-valieva commented on #68
It works, grazie, Pietro!

[2019-11-26 13:20] PietroLiuzzo commented on #68
then close the issue!

[2019-11-26 13:22] nafisa-valieva commented on #68
ciao!

[2019-11-26 13:22] #68 closed

[2019-11-26 13:22] PietroLiuzzo commented on #68
thanks! a closed issue is a wonderful gift!

[2019-12-09 17:43] thea-m opened #72 "links to TEI in guidelines don't work"
the links to the pages of TEI elements don't work anymore, for example when clicking on "element handDesc" in https://betamasaheft.eu/Guidelines/?id=handDesc
http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-handDesc.html
the page still exists
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-handDesc.html
(seems to https?)

[2020-01-13 17:43] thea-m opened #74 "visual overlapping"
On my laptop, there is some overlapping between the main page and search results on the relation element page https://betamasaheft.eu/Guidelines/?q=relation&id=relation

![image](https://user-images.githubusercontent.com/19650382/72278510-13fc8a80-362c-11ea-8155-a12c41b2173c.png)

It's not dramatic, but would be more pleasing otherwise :)

[2020-01-14 14:14] PietroLiuzzo commented on #74
Thank you @thea-m , could you have a look again and tell me if it is better now?

[2020-01-14 14:28] thea-m commented on #74
perfect now!

[2020-01-14 14:28] #74 closed

[2020-01-14 17:47] thea-m opened #75 "elaborate collation guidelines"
I think it would be very helpful and user-friendly if the collation guidelines would be a little bit more elaborated, not regarding the encoding as much as the description of collation itself (What I mean, in a few words, what the used formulas for stubs, added leaves etc. mean and how to use them. It is possible to figure most of it out, but it would be nice if there were a place where it would b

[2020-01-14 17:48] DenisNosnitsin1970 commented on #75
Yes, I'll do this.

[2020-01-14 18:22] thea-m commented on #75
wonderful, thank you!

[2020-01-23 13:51] PietroLiuzzo opened #77 "improve detail of description of use of relations"
as for https://github.com/BetaMasaheft/Documentation/issues/1307

relations and the schema need to be updated to provide better support on how to use

[2020-01-25 12:57] PietroLiuzzo commented on #77
I have merged this already to facilitate checking in the app, and request your opinion on the way I have set it up. beside all the open points in the issue above, I would like to add short definitions everywhere and add in the schema a link to each of these where available. @thea-m @eu-genia @sologebre @DenisNosnitsin1970 @DariaElagina

[2020-01-25 12:57] PietroLiuzzo commented on #77
https://betamasaheft.eu/Guidelines/?id=relations

[2020-02-20 17:02] DenisNosnitsin1970 commented on #75
The <note/> included into the collation <item/>
in the way it is indicated in the current guidelines,
like here (example 5 of the Guidelines, "Collation")
<item xml:id="q22" n="22">
<dim unit="leaf">3</dim>
 <note>A folio stub is visible between
ff. 175 and 176. F. 176 is cut off about
midway between gutter and fore edge. </note>
  2, stub after 1
</item>
will not be visualized and remains invisib

[2020-02-20 17:06] DenisNosnitsin1970 commented on #75
The same again, for the sake of clarity.
[Collation problem.docx](https://github.com/BetaMasaheft/guidelines/files/4232026/Collation.problem.docx)

[2020-03-05 11:29] thea-m opened #80 "ontology page"
There seems to be no content on https://betamasaheft.eu/Guidelines/?id=ontologyView
![image](https://user-images.githubusercontent.com/19650382/75977485-cccca080-5edc-11ea-88f0-f96476cdad4e.png)
The first link https://betamasaheft.github.io/RDF/ leads to a 404 file not found

[2020-03-05 11:34] thea-m commented on #77
Thank you Pietro for all the work! I think that the guidelines page is now very helpful. We need to work on the short definitions in the schema. I would also include there the type of entities' relations for which this relation can be used, as this was what let to most of our problems.
Were you planning to add the definitions in the guidelines or the schema?

[2020-03-05 13:15] thea-m opened #82 "Disambiguition of relations"
from https://github.com/BetaMasaheft/Documentation/issues/1307:

- have saws:hasPart and dcterms:hasPart been used in different ways or can we stick to one of the two?
- have syriaca:different-from and saws:isDifferentTo been used in different ways or can we pick one?

[2020-03-05 13:23] thea-m commented on #82
we have also examples of dcterms:creator and saws:hasWritten used to connect a person and manuscript. Could we go for the second and leave dcterms:creator for authorship of textual units?

[2020-03-05 13:38] thea-m commented on #82
We have in relations person/person twice snap:EnmityFor and sixthy-five times rel:enemyOf. as absurd as it may seem at first sight, I would go for the first, because we have consistently used snap classes quite extensively. if this is ok for you I will drop this rel:enemyOf from the schema and other places and update all the instances to use snap:EnmityFor

[2020-03-05 17:51] PietroLiuzzo commented on #77
in the schema, the guidelines page will reflect that [here](https://betamasaheft.eu/Guidelines/?id=relation)

[2020-03-05 17:51] PietroLiuzzo commented on #77
thanks!

[2020-03-05 17:52] PietroLiuzzo commented on #77
should I go on and add the person/person, work/manuscript in each?

[2020-03-05 17:59] PietroLiuzzo commented on #80
you are right. this cannot work anymore, because it is calling a http service.... I will have to find an option.

[2020-03-06 09:51] thea-m commented on #77
That would be great

[2020-03-07 10:30] PietroLiuzzo commented on #77
if you check the above pages I have reordered and tidied up again the list adding at the beginning of each description something like @active : Entity, @passive : Entity
the order of the entries is also the same as in the descriptive page of the guidelines, to the extent to which this is possible (the descriptive page splits and repeats, the schema cannot, it needs to go statement by statement) I

[2020-03-10 08:49] thea-m opened #84 "code in guidelines"
Could you - if it is in any way relevant - maybe add here https://betamasaheft.eu/Guidelines/?id=editingGuidelines when to use `<code>` in the encoding of the guidelines? I saw you used it for the names of relations, where I would have used `<val>`. Thank you!

[2020-03-10 13:24] PietroLiuzzo commented on #84
I do not think I have been any consistent... but I will have a look

[2020-03-10 14:05] PietroLiuzzo commented on #84
ich war eigentlich konsequent :) habe ich eine ziele hinzugefugt für dieses und für lawd:hasAttestation

[2020-03-10 14:05] #84 closed

[2020-03-11 10:12] thea-m opened #85 ""main" in @type for persName"
The value main is not included in the schema for @type in `<persName>`, despite being mentioned in the guidelines (https://betamasaheft.eu/Guidelines/?id=persons). I'm not sure whether this is an accident or I (and the guidelines) missed a discussion on this. I only found this old issue: https://github.com/BetaMasaheft/Documentation/issues/868
should I just update the schema?

[2020-03-11 10:39] thea-m commented on #82
Both saws:hasPart and dcterms:hasPart have been used very rarely. I am wondering whether there is any distinction in the use between these two relations and saws:contains.

saws:hasPart has been used in LIT2649CanonsCouncils, LIT4985AkalaKrestos and LIT4970HagLal. Was there a specific motivation for this particular relation, or would saws:contains (according to the guidelines, "saws:contains can b

[2020-03-11 10:46] thea-m commented on #82
syriaca:different-from and saws:isDifferentTo seem to me to used in the same way. syriaca:different-from has been used in a place record as well, but  saws:isDifferentTo more often (but only in work records)? It might be useful to have this relation not restricted to work records, I can imagine it being used for other entities as well? @PietroLiuzzo

[2020-03-11 10:47] thea-m commented on #82
we have also examples of dcterms:creator and saws:hasWritten used to connect a person and manuscript. Could we go for the second and leave dcterms:creator for authorship of textual units?

is being discussed in https://github.com/BetaMasaheft/Documentation/issues/1350

[2020-03-11 10:50] thea-m commented on #82
Completely ok for me :) @PietroLiuzzo

[2020-03-11 14:49] nafisa-valieva commented on #82
Hi Dorothea, saws:hasPart or saws:contains make equal sense for me. Am I supposed to change the encoding then?

[2020-03-11 14:52] thea-m commented on #82
Thank you @nafisa-valieva , no it's fine, as soon as a decision has been taken here I will do it in all the concerned records.

[2020-03-11 16:45] PietroLiuzzo commented on #85
added

[2020-03-12 10:21] eu-genia commented on #82
dcterms:creator should be reserved to text authorship
syriaca:different-from and saws:isDifferentTo -could we stick to the rule that saws relation is used for texts and syriaca for other things?

[2020-03-12 13:24] thea-m commented on #85
Thank you!

[2020-03-12 13:24] #85 closed

[2020-03-12 13:54] PietroLiuzzo commented on #82
@eu-genia  I think this can be a good solution
syriaca:different-from stays as generic,
saws:isDifferentTo only for works, i.e.
the instances of syriaca:different-from relating two Works need to be changed to saws:isDifferenTo.
I found this, but the data I have is quite old now.
-- | --
1 | bm:LIT1638Homily | bm:LIT1640Homily
2 | bm:LIT1638Homily | bm:LIT1639Homily
3 | bm:LIT1638Homily | bm:LIT497

[2020-03-12 14:09] thea-m commented on #82
Is there anything that forbirds using the syriaca relation for works? To have two different relations with the same semantic meaning to be used in different contexts seems a very error prone concept to me (but if it improves the quality of the encoding, I have nothing against it).
The examples, though old, still seem valid to me.

[2020-03-20 10:55] thea-m commented on #75
@PietroLiuzzo can you help regarding the last comment by @DenisNosnitsin1970 ? I remember darkly that  the `<note>` inside the `<item>` was added to the guidelines by EMIP requirement.. But if @DenisNosnitsin1970 has found this to be the only place to encode certain information, its visualisation (and the kind of information encoded there) might need to be rediscussed.

[2020-03-20 16:06] PietroLiuzzo commented on #75
yes I will look at this issue and document now.

[2020-03-20 16:14] thea-m commented on #75
Thank you! Since I am working on the collation guidelines now: Including general information on a quire in the respective `<item>` seems to be an important need, for which there are conflicting hints in the guidelines and elsewhere. There is the `<note>` after `<locus>` mentioned here (not visualised currently), and in Denis' document also mentions the same place for encoding this information, but

[2020-03-20 16:17] DenisNosnitsin1970 commented on #75
Dorothea,
the updated document is in my computer in the office, unfortunately. I was waiting for Pietro's response/comment.

[2020-03-20 16:19] thea-m commented on #75
I think there is already much valuable clarification and structure in the document that I have. The aim is for the page to be more informative than it currently is, there will always be ample room for later perfection. It would be good, I think, to take it out of the famous document and into a more general discussion.

[2020-03-20 16:23] DenisNosnitsin1970 commented on #75
Still, it is better to use the updated document. It really drifted far from the version you have. I will get the right document by the next week - the nearest future.

[2020-03-20 16:24] thea-m commented on #75
Well, now I already did it. I will make a branch in the guidelines repo and then we can at least edit there.

[2020-03-20 16:27] PietroLiuzzo commented on #75
I am a bit at odds with the doc and the comments. I am looking now at the visualization of this elements and will report back asap when I have found the origin of the issue in question. in general, it should make no difference whatsoever where note is used, since it is valid there. I would stick with what is in the guidelines first, and find the source of the "elsewhere" to make it consistent to t

[2020-03-20 16:28] PietroLiuzzo commented on #75
I don't think the document I have from the comment up here is the one with the valuable clarification, alas... I only have 92 words more or less similar to the comment above... could some one email me the correct document? thanks a lot!

[2020-03-20 16:34] DenisNosnitsin1970 commented on #75
Pietro, in this document I reported the problem that I noticed experimenting with collation. It clarifies nothing, it only report the problem. Dorothea and myself meant another document (at least I assume this)

[2020-03-20 16:36] PietroLiuzzo commented on #75
Yes, thanks @DenisNosnitsin1970 , now Dorothea draw my attention to this other document, which she had sent in another email. I should have collected all material now...

[2020-03-20 16:39] PietroLiuzzo commented on #75
I don't have all, please @thea-m could share the name of the gl branch you are working on? thanks!

[2020-03-20 16:41] thea-m commented on #75
collation, I just committed it. I think I will stop working there now before we have complete chaos

[2020-03-20 16:42] DenisNosnitsin1970 commented on #75
In that bigger document there is nothing constructive concerning the problem. I took over the older guidelines, but I discovered that this specific feature does not work. I did not change anythig as I was waiting as to what kind of solution would be found.

[2020-03-20 16:43] PietroLiuzzo commented on #75
sorry, the caos is due to me chiming in here late and trying to go through the issue of the visualization before that of the guidelines. sorry about this, I should have followed better from the begining. please be patient, I am on this and will be back soon with news. thanks a lot!

[2020-03-20 16:45] DenisNosnitsin1970 commented on #75
No problem, have your time!

[2020-03-20 16:47] thea-m commented on #75
No need to apologise :) What was relevant here now was the visualisation issue, separate from the larger guideline issue that Denis has already worked on. How shall we proceed now? Shall I continue on the branch (what was still missing from my point of view before submitting these edits to general feedback is mainly the integration of examples) or would that be pointless @DenisNosnitsin1970 ?
Ther

[2020-03-20 16:51] DenisNosnitsin1970 commented on #75
I would say, if to have the updated material is essentual for what you are doing, then you would rather wait a little, I will get it in the next days (I myself have to run through it at least once, as I put it aside a month ago). On Monday we will be able to continue.

[2020-03-20 16:53] PietroLiuzzo commented on #75
for the visualization issue, I am working on a solution which will not impact guidelines at all, so you can procede with no problem on your task, actually, what a nice thing that we can work on different things at different times and only need to let everyone else know :)

[2020-03-20 17:12] PietroLiuzzo commented on #75
if you look at https://betamasaheft.eu/manuscripts/BLorient718/main, one of the two examples I found with both num and note, you will see how they are rendered now.

[2020-03-20 17:13] PietroLiuzzo commented on #75
eventually the example in the guidelines seems to not exist any more in the data, but that is fine I think.

[2020-03-20 17:35] DenisNosnitsin1970 commented on #75
Do you mean that <note> inserted in the item xml:id="q" will now be visualized in such a way?

From the point of view of the arrangement of this information, "Quire Numeration": should be above "Notes" and render "q" followed (or, if technically possible, "n" value) followed by the Ethiopic quire number. "Notes" should below.

[2020-03-20 17:46] DenisNosnitsin1970 commented on #75
"Notes" should be below.

[2020-03-20 18:00] PietroLiuzzo commented on #75
I don't mean it, it is so :) but as it has changed it can always be changed otherwise, just let me know, visualization is ephemeral.
The or / if part is not clear to me, I have tried my best to parse it, and you can check the same example above.
Just for the record let us try not to make the view influence the encoding in the guidelines in any way.

[2020-03-20 18:01] PietroLiuzzo commented on #75
for example I am not clear about below what, below the diagram, below the numeration? just le me know.

[2020-03-20 18:17] DenisNosnitsin1970 commented on #75
Yes, in Orient718  I see exactly what I meant. Is any difference is produced by the position of the <note>? For the encoder, it would be logical to place it as the last before <item> is closed.

[2020-03-20 18:18] DenisNosnitsin1970 commented on #75
(In most of the cases, there will be, of course, no information to put in the note).

[2020-03-20 18:20] PietroLiuzzo commented on #75
that is fine, yes, the element can be placed where you want, and you should be able to have more than one, in which case you will have Notes: 1)..... 2) .....

[2020-03-20 18:21] PietroLiuzzo commented on #75
In the branch collation, the first thing I am noticing is that the phrasing has been changed to a more generic one. for example I find the current formulation of the first introductory sentence much more clear.

[2020-03-20 18:26] DenisNosnitsin1970 commented on #75
Sorry, I do not know what you are reading. If you got smth from Dorothea, it has been surpassed.

[2020-03-20 18:28] PietroLiuzzo commented on #75
also the textblock concept is used only here and in binding description, and has no corresponding thing in TEI.
I am looking at the "emergency commit" which is the same of the document I got via email.
do we perhaps want to collaboratively edit this  e.g. in g docs before we put it into the collation branch?

[2020-03-20 18:29] DenisNosnitsin1970 commented on #75
Sure, but, as I explain above, I will procure the updated version.

[2020-03-20 18:31] PietroLiuzzo commented on #75
no worries! at least we have now the view of all what should be viewed. :) thanks!

[2020-03-23 08:28] thea-m commented on #75
I believe there is no need for my contribution to this anymore, just let me know if you want me to bring this emergency commit to a state where it contains complete sentences and examples or not. I will not do anything on this for the time being.

[2020-03-25 11:26] thea-m commented on #75
I believe that the visualisation issues discussed in the middle of the issue have been solved? Please reopen if not

[2020-03-25 11:26] #75 closed

[2020-03-25 11:36] thea-m opened #86 "Collation guidelines"
I have continued to edit the collation page in the guidelines with the very thorough descriptions given by @DenisNosnitsin1970 . Thank you, it must have been a lot of work!
I believe that nothing new has been added on the encoding itself, rather the existing practice has been made explicit and explained for anyone encoding quire structures for the first time.
You can find these edits all in the "c

[2020-03-26 16:55] PietroLiuzzo commented on #86
The addition of images is possible, documented in the guidelines and especially welcome!
I will review the PR.
My main concern remains that the language of these _encoding_ guidelines does not make it hard to _encode_ to favour cataloguing issues which are no doubt relevant but not the main focus of the GL.
We need to find a good balance, which is not easy, but we can achieve together. I would not

[2020-03-26 17:11] DenisNosnitsin1970 commented on #86
Sorry, Dorothea, I cannot find it; "you can find this branch by going on "current branch" in GitHub desktop and either scrolling down until you see the branch called "collation", or typing collation in the filter field, it should then be listed immediately" - the instruction brings me to nothing that is similar to "collation guidelines". Any other way to get to it?

[2020-03-27 11:07] thea-m commented on #86
@DenisNosnitsin1970 I have sent you instructions with screenshots on skype, let me know if this helps.

[2020-03-27 12:45] thea-m commented on #86
Thank you @PietroLiuzzo!

Regarding the images: there are "only" instructions in the guidelines on how to add IIIF images from the web. The ones we would like to add here are schematic figures produced for this purpose by Denis, and which are currently available to me in a word document.

Regarding the rest: I am afraid I do not quite understand what you mean.

Do you mean that the proposed edits

[2020-03-27 14:59] PietroLiuzzo commented on #86
What I was referring to in my concern was a case like this

we now have

and the word document which was shared with me, and I opened only on its first page has the following, which was also in the branch at some point not worth investigating

This formulation is for guiding an encoder very confused and partially incorrect, and I would avoid this kind of rewording. The collation branch now has

Th

[2020-03-30 14:18] thea-m commented on #86
Thank you! The images are identical, I added the reference to the figure in Denis' document in the record. If you could add the links, it would be very useful.

[2020-03-30 15:04] DenisNosnitsin1970 commented on #86
Include the images of stubs:
![BMQM-010_104 stub](https://user-images.githubusercontent.com/18533839/77928213-6f8ff900-72a8-11ea-99cf-bd8aaa0ef8d5.jpg)
![UM-053_031 stub](https://user-images.githubusercontent.com/18533839/77928231-728ae980-72a8-11ea-86cf-2f500a6b354e.jpg)

[2020-03-30 15:05] DenisNosnitsin1970 commented on #86
![UM-053_031 stub](https://user-images.githubusercontent.com/18533839/77928380-9ea66a80-72a8-11ea-88f9-51cb15a15b48.jpg)

[2020-03-30 15:06] DenisNosnitsin1970 commented on #86
![MHG-010_070 stub](https://user-images.githubusercontent.com/18533839/77928469-b978df00-72a8-11ea-9714-a8de1dfb3ff7.jpg)

[2020-03-30 19:36] PietroLiuzzo commented on #86
where should these go?

[2020-03-30 19:43] PietroLiuzzo commented on #86
In the commit above to the branch I added the links to the images, the other ones can be added similarly, I have downloaded them as they appear here and named them 4 to 7.
please note that they will need a caption inside `<desc>`  thanks!

[2020-03-31 09:45] thea-m opened #87 "Scroll description"
It would be useful to work on the open scroll issues (no, this is not only an issue says "work on the issues"....), and add the information in the guidelines, possibly in a new page for scroll descriptions. (Taking care, as always, to be very explicit that these would be POSSIBLITIES of encoding, not a catalogue of mandatory parameters to check off)
I am assigning myself for now and would be willi

[2020-03-31 09:58] DariaElagina commented on #87
I completely agree, there are some points we have to discuss here, especially concerning locus and layout:
1) Do we want to use 1r/ 1v to distinguishe between the face side and the riverse side? I have some more scrolls wich have texts/additions on their reverse side. I was not using this terminology just because it was to much stuck to codices in my head.
2) The scrolls are sewn mostly of several

[2020-03-31 10:12] thea-m commented on #86
Thank you all for the extremely constructive work on this. I think we can move this discussion to a pull request.

[2020-03-31 10:12] #86 closed

[2020-03-31 11:00] DenisNosnitsin1970 commented on #86
I have added a comment in#88. Are both dedicated to the same?

[2020-03-31 13:41] thea-m commented on #86
Yes, exactly. Thank you! We can keep the discussio  now in https://github.com/BetaMasaheft/guidelines/pull/88

[2020-04-01 11:36] thea-m commented on #87
I will open individual issues for the single questions in the documentation guidelines (I think it's good to have all these discussions in one place, so that they are easier to search and find for everyone).

[2020-04-29 14:06] thea-m opened #92 "Pages on the structure of records"
Again and again, new users express the very strong desire to have pages on the guidelines which clarify the order of the elements in all records (manuscripts being the most complicated ones). OUr guidelines are very fragmented and the TEI guidelines are apparently not so useful and not evident to use. It apparently would be very useful to work on this. https://betamasaheft.eu/Guidelines/?id=struct

[2020-04-29 14:28] PietroLiuzzo commented on #92
A desire of prescriptivness in early stages of encoding experience is natural, but not useful on the long term, when people risk to fixate themselves on an order of items which is instead not relevant. While the order of the elements in msDesc _is_ fixed, this is undoubtfully explained in chapter 10 of the TEI Guidelines, and repeating this in our guidelines would not be of much help IMHO. On the

[2020-04-29 14:47] thea-m commented on #92
Yes, I understand. The reason why I never took any steps in this direction was that this sorts itself out as people become more familiar with encoding and look at example files.

But at the beginning, I understand that it really is confusing for someone who wants to work on the binding description in a manuscript, goes to the guidelines and finds the binding description page, which gives no indica

[2020-04-29 16:10] PietroLiuzzo commented on #92
@thea-m please could you help me to understand your last statement? which order is required by our schema? there is no explicit statement about that which I can recall. the content model has ( support?, extent?, foliation*, collation?, condition? ), and the [TEI guidelines follow the same order](https://tei-c.org/release/doc/tei-p5-doc/en/html/MS.html#msph1) and this should be the order also in ou

[2020-04-30 13:34] thea-m commented on #92
I was talking about the order of presentation in the TEI guidelines, which is collation, foliation, condition
![image](https://user-images.githubusercontent.com/19650382/80716102-8ae46300-8af7-11ea-94f9-5afa81ee8cbe.png)
Our schema wants, as the content model (which I had not checked) as you said, foliation, collation, condition.

[2020-04-30 15:14] PietroLiuzzo commented on #92
I think you can propose this change to reflect the content model to the TEI group. I am not sure that in the GL page the content model is used, perhaps it is just a list. For our guidelines, what we can do is reproduce the content model on the element page.

[2020-05-05 07:50] thea-m commented on #92
I think reproducing the content model sounds good. It would give people a clear place to look for when these questions arrise without offering some kind of empty file with all possible elements to be filled in. Thank you!

[2020-05-06 14:47] #92 closed

[2020-06-07 10:51] #34 closed

[2020-06-07 10:52] #25 closed

[2020-06-07 10:52] #31 closed

[2020-06-07 10:53] #72 closed

[2020-06-07 10:53] #77 closed

[2020-06-07 10:57] #80 closed

[2020-06-16 16:31] PietroLiuzzo opened #99 "Work / Textual Unit"
Maria Bulakh wrote:

---

https://betamasaheft.eu/help.html

I have tried in the past to clarify this distinction clearly without succeeding. Textual Units and Narrative Units in my mind are both "Works" and the distinction made by Orlandi is clear to me, but it is indeed a deep deep dungeon to get into that kind of discussion. Any volunteer minister of simplification and consistency?

[2020-06-22 09:51] PietroLiuzzo commented on #87
once #103 is merged, this issue can also be closed

[2020-06-23 07:23] #87 closed

[2020-08-13 14:11] #60 closed

[2020-08-13 17:31] DariaElagina commented on #99
Sure, I will try to make suggestions asap!

[2020-08-17 14:51] DariaElagina commented on #99
So, I have several points to address on this topic:

1) Textual Unit is the same as Work at least in our practice. What we define as Works are to be found under Textual Units, and in the GL these two terms are treated as one.  For this reason I would rather reduce our terminology to "Works" and eliminate "Textual Units" for the sake of economy. This way seems to be shorter then the other way round

[2020-08-31 07:36] thea-m commented on #99
1. Yes, works and textual units are used interchangeably. If we want to decide on one (which would help decrease misunderstandings), I would tend to textual units, but maybe that is for @abausi to decide.
2. Yes, there are different uses of narrative units, all having in common that they refer to "units" that are not fixed and not transmitted uniformally. The synaxarion narrative units are in this

[2020-08-31 07:54] DenisNosnitsin1970 commented on #99
Dear all, we had a long discussion on the narrative units and works a couple of years ago (also internally), and the current work procedure and the conventions how we use means at our disposal is more or les its result. There are some imperfections, some things are contradictory. However, we all can work, and the system functions. Some observations above are correct, but If we want to clean smth u

[2020-08-31 08:08] thea-m commented on #99
@DenisNosnitsin1970 I completely agree.
However, it is important to note that the (internal) conclusions we have reached are not easily understandable to those who were not present at these discussions. In cases as this, were they are really central to the project, it is important that they are transparent to someone who starts working with BM today and has only the website and guidelines as their

[2020-08-31 08:53] PietroLiuzzo opened #106 "Work / Textual Unit"
Maria Bulakh wrote:

---

https://betamasaheft.eu/help.html

I have tried in the past to clarify this distinction clearly without succeeding. Textual Units and Narrative Units in my mind are both "Works" and the distinction made by Orlandi is clear to me, but it is indeed a deep deep dungeon to get into that kind of discussion. Any volunteer minister of simplification and consistency?

[2020-09-02 14:16] PietroLiuzzo commented on #106
discussion in #811 may help here.

[2020-09-09 11:47] thea-m opened #107 "invalid pelagios link"
http://commons.pelagios.org/2017/08/report-ancient-places-in-the-chronicle-of-king-galawdewos/
in the places guidelines is not working anymore

[2020-09-09 12:59] PietroLiuzzo commented on #107
https://betamasaheft.eu/Guidelines/?id=places

[2020-09-09 13:03] #107 closed

[2020-09-29 08:19] PietroLiuzzo opened #109 "link to id page from repository"
in this page https://betamasaheft.eu/Guidelines/?id=repository
it would be nice if repository ID would link to
https://betamasaheft.eu/Guidelines/?id=entities-id-structure
(TEI workshop request)

[2020-09-29 08:20] #109 closed

[2020-10-27 15:27] PietroLiuzzo opened #111 "rules in the schema not explained in the guidelines"
adding `@see` attributes to reports in the ODD, I have found the following rules which are not otherwise expanded and justified in the guidelines

|element|rule|page|notes|
|---|---|---|----|
|date | Attribute `@type='foundation'` is require for date into a note about an institution. | https://betamasaheft.eu/Guidelines/?id=institution | |
|ab| ab in note is used in listPlace for  institutions and

[2021-02-01 18:37] PietroLiuzzo opened #117 "witnesses instructions"
The guidelines have a paragraph on this https://betamasaheft.eu/Guidelines/?id=work-teiHeader

Which can certainly be made a bit better, it is not that clear and potentially confusing.

You can do as @eu-genia  suggested or simply as indicated in the GL:

`<witness corresp="https://eap.bl.uk/archive-file/EAP286-1-1-133" type="external">`

a further example is here https://betamasaheft.eu/works/LIT

[2021-02-05 10:35] PietroLiuzzo opened #118 "xi include instructions"
a page is needed to explain how to use xi include so that it is supported by the app.
it should be linked from the transkribus page at least

[2021-02-08 16:22] DariaElagina commented on #106
So, since it a PR and Ticket week I will make some more suggestions.
1. I would still advocate for using the term "Work" instead of "Textual Unit". The reson is very simple. We use "Work" also as a prefix to our work files and in our labels in issues. If we instead keep "Textual Unit" the confusion would remain. Once we agree upon which term to keep, I will go through the GL and update them accord

[2021-02-08 21:10] #117 closed

[2021-02-08 21:13] PietroLiuzzo commented on #118
https://betamasaheft.eu/Guidelines/?id=xiinclude

[2021-02-08 21:13] #118 closed

[2021-02-09 08:29] #111 closed

[2021-02-09 10:54] PietroLiuzzo commented on #106
I do not think we need to make additions to definitions, we simply need to make some things clearer in their wording and add some words and some links. I think in the app, that has been discussed and is the origin of the confusion. The Guidelines are after all in better shape in terms of clarity. There I think Textual Unit will go, and is not likely to cause further issues.
- [here](https://betama

[2021-02-09 12:04] DariaElagina commented on #106
1. It seems that the application of the two terms for the same thing (Works and Textual Units) would cause confusions. I refer here to the words of Maria Bulakh cited above. So, we have either to stick to one term, or to declare that Works and Textual units are the same and we use them interchangeably.
2. I did not add any new definition to Narrative Units. I have rather tried to summarize the way

[2021-02-09 12:50] PietroLiuzzo commented on #106
ok, perhaps with a PR we will be able to make more progress. thanks!

[2021-02-09 13:57] thea-m commented on #42
I still think that it would make sense to create categories for "extras" (either broader ones as "scribal practices" and or more narrow ones as "corrections", down to the exact type of correction, for example) and I still would be willing to draft a guidelines page, but only if there is a consesus that it will be worthwile.
What do you think?
@DenisNosnitsin1970 @DariaElagina
@SusanneHummel @Massi

[2021-02-09 14:01] DenisNosnitsin1970 commented on #42
Sorry, now I do not understand, what will be under "Varia"?

[2021-02-09 14:06] thea-m commented on #42
The same as is now, the idea was to categorise it more formally (it often is categorised already in the head of the encoder, so I don't think that it would be a conceptually big step).
For example something like (hypothetical both from the content and the encoding):

[code]

[2021-02-09 14:10] DariaElagina commented on #106
I would like first to discuss what to change and what to keep, and whether my understanding of Narrative Units is correct. So that I know, what to do for the PR.

[2021-02-09 14:11] DenisNosnitsin1970 commented on #42
This is possible and will be certainly  helpful, someone will need to fix up categories, and it will be an open list for a good while. For at least a half it will be scribal practicesm, but there will be a group "unclear".

[2021-02-09 14:20] thea-m commented on #56
I am about to fix these records as I promised to do, but I must say that to me it is now self-evident that a `@resp` in `<choice>` refers to both child elements, i.e. both the identification of the mistake and the providing of its correction. But as I am probably behind most of these instances, it might be an (albeit time saving) idiosyncrasy of me. @PietroLiuzzo if you confirm that it is an idios

[2021-02-09 14:32] PietroLiuzzo commented on #56
well, if we do not need fixing and can do with a clarification in the GL, let us do so! your phrasing here seems very suitable to me. I will add support for the `@resp` on `<choice>` accordingly

[2021-02-09 14:49] MassimoVilla commented on #42
I strongly agree with the need of a better formalization of the various phenomena currently encoded under "Varia", whose internal subgrouping (corrections, aids for readings, titles in the upper margin, minor scribbles, etc.) is already clear in our head but is left unspecified - at least formally - in the encoding practice. I also think that the list should be left open to new categories, so that

[2021-02-09 15:02] SusanneHummel commented on #42
I also absolutely agree. We just recently disussed exactly this point desired such suggestions. :)

[2021-02-09 16:07] antobrita commented on #42
I do agree too. I would substitute in the list "indications for readings" with a more general "indications related to performance" (which is a broader category: it includes reading indications, but not exclusively).

[2021-02-10 09:54] #56 closed

[2021-02-10 16:59] thea-m commented on #82
There were no objections to several proposals, so I will:
change occurrences of saws:hasPart and dcterms:hasPart to saws:contains
change occurrences of syriaca:different-from to saws:isDifferentTo
change occurrences of rel:enemyOf to snap:EnmityFor
change occurrences of dcterms:creator in person/manuscript relations to saws:hasWritten (in case there are still any)

I stand by my last comment which

[2021-02-10 17:01] DenisNosnitsin1970 commented on #82
ok

[2021-02-10 17:25] PietroLiuzzo commented on #82
Does this really need to be updated in the data? I thought we did that long ago in the related issue at the top

[2021-02-11 13:47] thea-m commented on #82
Everything listed in my last comment is still present in the data.

[2021-02-11 14:21] PietroLiuzzo commented on #82
clearly too much time has passed... sorry... Please let me add a word of caution, although unnecessary I am sure, regarding the replacement of dcterms:hasPart (used in other contexts) and dcterms:creator (domain and range are different from saws:hasWritten). I have done the following checks
- these [rel:enemyOf](https://betamasaheft.eu/xpath?xpath=%24config%3Acollection-root%2F%2Ft%3Arelation%5B%4